#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Reboot after installation
reboot
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
keyboard us
#timezone --isUtc --nontp Australia/Melbourne
timezone --isUtc --nontp UTC
selinux --enforcing
# Do not configure the X Window System
skipx
# disable root
rootpw --lock --iscrypted locked

# create sudo user.
user --name=aemdesign --groups=wheel --password=aemdesign

# Update firewall
#firewall --enabled --ssh
firewall --disabled

# create dhcp network interface for initial build
network --bootproto=dhcp --hostname=aemdesign --onboot=yes --device=eth0 --ipv6=auto

# System services
services --disabled="cloud-init,cloud-config,cloud-final,cloud-init-local"


# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

ignoredisk --only-use=sda
#autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all  --drives=sda

## Disk partitioning information
part /boot --fstype="xfs" --size=512
part pv.01 --size=1 --grow --ondisk=sda
# create a new logical volume and group for everything lese
volgroup dockervg --pesize=4096 pv.01 --reserved-percent=20
# add a 20GB XFS partition for root
logvol /        --fstype="xfs" --size=10000   --vgname=dockervg --name=lv_root
#logvol /usr     --fstype="xfs"  --size=3072    --vgname=dockervg --name=lv_usr
#logvol /tmp     --fstype="xfs"  --size=1024    --vgname=dockervg --name=lv_tmp
#logvol /var     --fstype="xfs"  --size=5120    --vgname=dockervg --name=lv_var
#logvol /home    --fstype="xfs"  --size=512     --vgname=dockervg --name=lv_home
# add a 2GB swap partition
logvol swap     --fstype="xfs"  --size=1024    --vgname=dockervg --name=lv_swap
#logvol none --vgname=fedora --thinpool --name=docker-pool --size=100000
#logvol / --vgname=fedora --fstype=ext4 --name=root --grow --percent=95

%packages --excludedocs --instLangs=en
@base
@core
@network-file-system-client
git
curl
git
wget
tar
bzip2
dhcp
sysstat
vlock
openssh-server
iptables-services
net-tools
#system-config-firewall-base

#for installing vmware tools
kernel-devel
kernel-headers
gcc
make
perl

#docker
device-mapper
device-mapper-event
device-mapper-libs
device-mapper-event-libs
docker

#for monitoring
#net-snmp
#open-vm-tools

#hardening
ca-certificates

#time sync
ntp

%end

# show IP of vm after boot
%post --erroronfail

#enable docker
systemctl enable docker

#add ip info display
echo '#!/bin/sh' > /etc/rc.d/rc.local
echo $'IP0=$(/sbin/ip addr show | grep global | grep brd | grep \'inet \' | cut -d: -f2 | awk \'{ print $2}\')' >> /etc/rc.d/rc.local
echo 'echo "IP: $IP0" > /etc/issue' >> /etc/rc.d/rc.local
echo 'exit 0' >> /etc/rc.d/rc.local
chmod a+x /etc/rc.d/rc.local
%end

# allow aemdesign user to sudo
%post --erroronfail
sed -i '$ a\%aemdesign ALL=(ALL) NOPASSWD:ALL' /etc/sudoers
#sed -i '$ a\%sudo ALL=(ALL) NOPASSWD:ALL' /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

#Generate installtime file record
/bin/date +%Y%m%d_%H%M > /etc/BUILDTIME
%end

